:root {
    --text-color: #151515;
    --bg-color: white;
    --bg-color-grey: #f6f6f6;
    --link-color: #0481ff;
    --lang-dropdown-pos: 2%;
    --text-margin-mobile: 16px;
}

html {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}
main {
    margin: 0;
    background-color: var(--bg-color);

}
a {
    text-decoration: none;
}
footer {
    background-color: #151515;
    color: white;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;
}
footer a {
    color: white;
}
main h1 {
    padding-left: 20%;
    padding-right: 20%;
}
main h2 {
    padding-left: 20%;
    padding-right: 20%;
}
main h3 {
    padding-left: 20%;
    padding-right: 20%;
}
main p {
    padding-left: 20%;
    padding-right: 20%;
}





.navbar-mobile {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.4s;
    color: white;
    display: none;
    align-items: flex-end;
    z-index: 2;
}
.navbar-desktop {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.4s;
    color: white;
    display: inline-block;
    align-items: flex-end;
    z-index: 2;
}
.navbar-title {
    font-family: Secular One;
    margin-left: 5%;
    display: inline-block;
    padding: 0;
    margin-top: 9px;
    margin-bottom: 7.5px;
}
.navbar-item {
    position: relative;
    display: inline;
    float: right;
    margin-top: 12px;
    padding: 10px;
    border: white 2px solid;
    border-radius: 24px;
    margin-left: 10px;
    transition: all .2s;
}
.navbar-item-menu {
    position: relative;
    display: inline;
    float: right;
    margin-top: 10px;
    padding: 14px;
    margin-left: 10px;
    transition: all .2s;
}
.navbar-item:hover {
    color: black;
    background-color: white;
}
.navbar-item-right {
    margin-right: 5%;
}
.navbar-item-lang {
    border: 0px solid;
    margin-top: 11px;
    border-radius: 0px;
}
.dropdown-content-lang {
    position: absolute;
    display: none;
    z-index: 1;
    background: white;
    border: 2px solid black;
    padding: 16px;
    margin-top: 10px;
    border-radius: 24px;
    right: -25px;
}
.navbar-item-lang:hover {
    background-color: transparent;
}
.dropdown-content-lang a {
    color: var(--text-color);
    transition: all .2s;
}
.dropdown-content-lang a:hover {
    color: #ff0000;
}
.navbar-item-lang:hover .dropdown-content-lang {
    display: block;
}
.banner {
    object-fit: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.grey-box {
    background-color: var(--bg-color-grey);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.banner-text {
    position: absolute;
    top: 35%;
    left: 20%;
    text-align: left;
    color: white;
    padding: 0;
    max-width: 400px;
    vertical-align: middle;
}
.banner-text hr {
    padding: 0;
    margin: 0;
    border: none;
    background: #ff0000;
    height: 1px;
    margin-bottom: 14px;

}
.banner-text h1 {
    padding: 0;
    margin: 0;
    font-size: xx-large;
    padding-bottom: 12px;
}
.banner-text p {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    word-break: normal;
    margin-bottom: 20px;
}
.banner-button {
    color: black;
    padding: 10px;
    border: white 2px solid;
    border-radius: 24px;
    background-color: white;
    display: inline-block;
    transition: all .2s;
    margin-right: 6px;
}
.banner-button:hover {
    color: white;
    background: transparent;
}
.banner-button-transparent {
    color: white;
    padding: 10px;
    border: white 2px solid;
    border-radius: 24px;
    display: inline-block;
    transition: all .2s;
}
.banner-button-transparent:hover {
    color: black;
    background-color: white;
}
.banner-photo {
    height: 60vh;
    max-height: 100%;
    border: solid 2px red;
    border-radius: 24px;
    position: absolute;
    top: 20%;
    left: 60%;
    text-align: left;
    color: white;
    padding: 0;
    max-width: 400px;
    vertical-align: middle;
    background-color: white;
    object-fit: cover;
}
.h1-color-change {
    display: inline;
}
.side-by-side-div {
    width: 38%;
    display: inline-block;
    vertical-align: top;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
}
.vertical-line {
    display: inline-block;
    border: 0.2px solid #303030;
    height: 200px;
    margin-top: 15px;
}
.side-by-side-div li {
    list-style-type: none;
    padding: 2px;
    padding-left: 0;
}
.bottom-banner {
    background-color: #151515;
    float: left;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
}
.bottom-banner p {
    margin-right: 36px;
}
.bottom-banner button {
    margin-bottom: 20px;
}
.mobile-menu {
    background-color: #121212;
    /*padding: 10px;
    padding-top: 80px;*/
    position: fixed;
    top: 0;
    width: 100%;
    /*height: 200px;*/
    height: 0;
    color: white;
    z-index: 1;
    transition: all .5s;
    border-radius: 0px 0px 24px 24px;
}
.menu-content {
    visibility: hidden;
    margin: 0;
    /*opacity: 0;*/
    z-index: 2;
    position: fixed;
    top: 100px;
    width: 100%;
    transition: all 0.5s;
}
.mobile-menu hr {
    border: none;
    background: #242424;
    height: 1px;
    width: 98%;
}
.mobile-menu a {
    margin-left: 5%;
    padding: 24px;
    font-size: larger;
    font-weight: bolder;
}




@media only screen and (min-width: 701px) {
    .mobile-menu {
        display: none;
    }
    .menu-content {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    main h1 {
        padding-left: var(--text-margin-mobile);
        padding-right: var(--text-margin-mobile);
    }
    main h2 {
        padding-left: var(--text-margin-mobile);
        padding-right: var(--text-margin-mobile);
    }
    main h3 {
        padding-left: var(--text-margin-mobile);
        padding-right: var(--text-margin-mobile);
    }
    main p {
        padding-left: var(--text-margin-mobile);
        padding-right: var(--text-margin-mobile);
    }
    .vertical-line {
        display: none;
    }
    .side-by-side-div {
        display: block;
        width: 90%;
        padding: 0;
    }
    footer {
        padding-left: var(--text-margin-mobile);
        padding-right: var(--text-margin-mobile);
    }
}
@media only screen and (max-width: 700px) {
    .navbar-desktop {
        display: none;
    }
    .navbar-mobile {
        display: inline-block;
    }
    .dropdown-content-lang {
        right: -5%;
    }
    .banner-text {
        align-self: center;
        left: 16px;
        right: 16px;
    }
}
@media only screen and (max-width: 400px) {
    .navbar-title {
        height: 32px;
        margin-top: 18px;
        margin-bottom: 14px;
    }
    .navbar-item-menu {
        height: 20px;
    }
}
@media only screen and (max-width: 1200px) {
    .banner-photo {
        display: none;
    }
}